.custom-font {
  font-family: 'Bookman Old Style', serif;
}

@media (max-width: 768px) {
  .text-justify {
    display: block;
    text-align: left;
  }
  .float-right {
    float: right;
  }
}

@media (min-width: 768px) {
  .text-justify {
    display: block;
    text-align: justify;
  }
  .float-right {
    float: right;
  }
}

.menu-item {
  margin-bottom: 5px; /* Ajusta el valor según el espaciado deseado */
}

.menu-item-2 {
  margin-bottom: 3px; /* Ajusta el valor según el espaciado deseado */
}

.menu-item-3 {
  margin-bottom: 1px; /* Ajusta el valor según el espaciado deseado */
}



.menu-item-name {
  text-align: left;
  flex-grow: 1; /* Para que ocupe el espacio disponible */
}

.menu-item-price {
  text-align: right;
  white-space: nowrap; /* Para evitar que el precio se rompa en dos líneas */
}



